@import 'src/styles/index';

.container {
    background-image: url(../../../assets/images/marble.jpg);
    width: 100vw;
    background-size: cover;
    background-position: center center;
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: $gutter * 10;
    padding: spacing(xxxl) 0 $gutter * 12 0;

    .header {
        width: 100%;
        display: flex;
        justify-content: center;

        h2 {
            @include font(headline, lg);
        }
    }

    .itemsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $gutter * 12;

        .wrapper {
            position: relative;
            width: min-content;

            .img {
                height: 230px;
                width: 300px;
                border-radius: $rounded-xs;
            }

            .info {
                width: 230px;
                height: 100px;
                background-color: $color-white;
                border-radius: $rounded-xs;
                position: absolute;
                bottom: -30px;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: $shadow-lg;

                .infoWrapper {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    padding: spacing(md);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: spacing(sm);

                    .circle {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 1px solid $color-dark-green;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 10px;
                        left: 10px;

                        .innerCircle {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: $color-dark-green;
                        }
                    }

                    .name {
                        @include font(headline, sm);
                    }
                    .price {
                        @include font(caption, semibold);
                    }

                    .buttonContainer {
                        position: absolute;
                        bottom: -16px;
                    }
                }
            }
        }
    }
}
