@import 'src/styles/index';

.locationItem {
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-dark-green;

    .icon {
        color: $color-orange;
    }
    .text {
        @include font(headline, sm);
    }
}
