<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #000;
                font-family: 'Roboto', sans-serif;
            }

            table {
                width: 100%;
                height: 100%;
            }

            .container {
                width: 100%;
                margin: 0 auto;
                background-color: #000;
            }

            .header {
                background-color: #000;
                color: #fff;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .logoContainer {
                width: 100%;
                display: flex;
                justify-content: flex-start;
            }
            .logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Electrolize', 'sans-serif';
                font-size: 16px;
                line-height: 0;
            }

            .content {
                padding: 20px;
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
            .info {
                color: #e4e4e4;
            }

            button {
                border: 0;
                width: 200px;
                height: 36px;
                border-radius: 8px;
                text-align: center;
                background-color: #650000;
            }

            a {
                text-decoration: none;
                color: white;
                &:active {
                    color: #000;
                }
                &:hover {
                    color: #000;
                }
            }

            .footer {
                border-top: 1px solid #e4e4e4;
                background-color: #000;
                color: #ffffff;
                text-align: center;
                padding: 10px;
                height: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <div class="container">
                        <div class="header">
                            <div class="logoContainer">
                                <div class="logo">
                                    <svg
                                        width="77"
                                        height="20"
                                        viewBox="0 0 77 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7.73768 19.792C7.43901 19.792 7.14034 19.7493 6.84168 19.664C6.54301 19.6213 6.24434 19.5787 5.94568 19.536C5.17768 19.3227 4.64434 18.8747 4.34568 18.192C3.96168 17.3387 3.96168 16.3147 4.34568 15.12C4.77234 13.8827 5.45501 12.304 6.39368 10.384C6.56434 10.0427 6.73501 9.65867 6.90568 9.232C7.11901 8.80533 7.31101 8.4 7.48168 8.016C6.92701 8.22933 6.32968 8.592 5.68968 9.104C5.09234 9.57333 4.47368 10.064 3.83368 10.576C3.40701 10.8747 2.93768 11.0027 2.42568 10.96C1.87101 10.8747 1.42301 10.64 1.08168 10.256C0.783009 9.82933 0.676342 9.36 0.761676 8.848C0.804342 8.336 1.01768 7.888 1.40168 7.504C1.99901 7.07733 2.61768 6.608 3.25768 6.096C3.94034 5.584 4.62301 5.15733 5.30568 4.816C7.05501 3.92 8.65501 3.68533 10.1057 4.112C10.7883 4.24 11.3003 4.66667 11.6417 5.392C11.983 6.07467 11.9617 6.928 11.5777 7.952C11.2363 8.976 10.639 10.3627 9.78568 12.112C9.57234 12.624 9.33768 13.136 9.08168 13.648C8.86834 14.16 8.65501 14.6507 8.44168 15.12C8.39901 15.2907 8.33501 15.44 8.24968 15.568C8.20701 15.696 8.16434 15.824 8.12168 15.952C9.01768 15.824 10.319 15.376 12.0257 14.608C13.775 13.7973 16.1217 12.2187 19.0657 9.872C20.6443 8.63467 22.0737 7.44 23.3537 6.288C24.6337 5.09333 25.6577 4.112 26.4257 3.344C27.1937 2.576 27.5777 2.192 27.5777 2.192C28.0897 1.59467 28.7083 1.40267 29.4337 1.616C29.775 1.65867 30.0523 1.808 30.2657 2.064C30.479 2.27733 30.6497 2.49067 30.7777 2.704C31.0763 3.30133 31.0977 4.00533 30.8417 4.816C30.6283 5.584 30.159 6.84267 29.4337 8.592C29.1777 9.14667 28.9217 9.70133 28.6657 10.256C28.4523 10.8107 28.239 11.3227 28.0257 11.792C27.983 11.9627 27.9403 12.112 27.8977 12.24C27.8977 12.3253 27.8763 12.4107 27.8337 12.496C28.6443 12.368 29.4977 12.0267 30.3937 11.472C31.3323 10.8747 32.2283 10.2133 33.0817 9.488C33.9777 8.76267 34.7243 8.144 35.3217 7.632C35.7483 7.248 36.2177 7.07733 36.7297 7.12C37.2417 7.16267 37.6897 7.376 38.0737 7.76C38.415 8.18667 38.5643 8.656 38.5217 9.168C38.5217 9.68 38.3083 10.128 37.8817 10.512C36.559 11.664 35.1937 12.752 33.7857 13.776C32.4203 14.8 31.0337 15.568 29.6257 16.08C28.2603 16.5493 26.8737 16.6133 25.4657 16.272C24.783 15.9733 24.2923 15.5467 23.9937 14.992C23.7377 14.3947 23.6523 13.7333 23.7377 13.008C23.8657 12.2827 24.1217 11.3867 24.5057 10.32C24.0363 10.7467 23.5457 11.152 23.0337 11.536C22.5643 11.92 22.0523 12.3467 21.4977 12.816C15.6097 17.4667 11.023 19.792 7.73768 19.792ZM59.157 15.504C58.8583 15.504 58.581 15.4613 58.325 15.376C57.5143 15.2053 56.9383 14.7147 56.597 13.904C56.341 13.1787 56.405 12.368 56.789 11.472C57.2156 10.576 57.7703 9.57333 58.453 8.464C58.709 8.08 58.9436 7.696 59.157 7.312C59.413 6.88533 59.6263 6.50133 59.797 6.16C59.8823 6.032 59.9463 5.92533 59.989 5.84C60.0316 5.712 60.0743 5.60533 60.117 5.52C58.837 5.30667 57.3436 5.264 55.637 5.392C53.973 5.47733 52.0956 5.79733 50.005 6.352C48.1703 6.82133 46.1863 7.44 44.053 8.208C41.9623 8.93333 39.7436 9.808 37.397 10.832C36.9276 11.0027 36.4583 11.0027 35.989 10.832C35.5196 10.6613 35.1783 10.3413 34.965 9.872C34.709 9.40267 34.6876 8.912 34.901 8.4C35.1143 7.84533 35.4556 7.48267 35.925 7.312C38.3143 6.24533 40.597 5.328 42.773 4.56C44.9916 3.74933 47.0823 3.10933 49.045 2.64C54.293 1.31733 58.581 1.104 61.909 2C62.8903 2.256 63.573 2.85333 63.957 3.792C64.341 4.73067 64.2556 5.776 63.701 6.928C63.1463 8.08 62.485 9.27467 61.717 10.512C61.6743 10.5973 61.6103 10.704 61.525 10.832C61.4396 10.96 61.3543 11.1093 61.269 11.28C62.2503 11.0667 63.701 10.64 65.621 10C67.541 9.36 70.1863 8.42133 73.557 7.184C74.0263 7.01333 74.4956 7.056 74.965 7.312C75.477 7.52533 75.8183 7.888 75.989 8.4C76.2023 8.86933 76.2023 9.36 75.989 9.872C75.7756 10.3413 75.3916 10.6827 74.837 10.896C72.8743 11.5787 71.0823 12.1973 69.461 12.752C67.8396 13.3067 66.389 13.776 65.109 14.16C63.4023 14.672 62.101 15.0347 61.205 15.248C60.309 15.4187 59.6263 15.504 59.157 15.504Z"
                                            fill="#A40000"
                                        />
                                    </svg>
                                    <p class="logoText">Cum Together</p>
                                </div>
                            </div>
                            <h1>Verifiera din e-postadress</h1>
                        </div>
                        <div class="content">
                            <h4>
                                Vänligen verifiera din e-postadress genom att
                                klicka på länken nedanför:
                            </h4>
                            <button type="button">
                                <a href="<%= verificationUrl %>"
                                    >Verifiera din e-postadress</a
                                >
                            </button>

                            <p class="text">
                                Länken ovan är giltig i 24 timmar från att du
                                har fått detta mejl.
                            </p>
                        </div>
                        <div class="footer">
                            <h4>
                                Om du har frågor, hör gärna av dig till oss!
                            </h4>

                            <p class="text">Cumtogheter@test.com</p>
                            <p class="text">© 2024 Cum Together</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
