@import 'src/styles/index';

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    .modal {
        width: 100%;
        height: 300px;
        max-width: 500px;
        background-color: $color-white;
        border-radius: $rounded-md;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: spacing(lg);
        padding: spacing(md);
        position: relative;

        .header {
            width: 100%;
            text-align: center;
            @include font(headline, md);
        }

        .text {
            @include font(headline, xs);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: spacing(sm);
        }

        .buttonContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: spacing(md);
            position: absolute;
            bottom: spacing(md);
        }
    }
}
