@import 'src/styles/index';

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: spacing(lg);
    max-width: 448px;

    @media (min-width: $size__tablet--medium) {
        gap: spacing(xxxl);
    }
}
