@import 'src/styles/index';

.container {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: spacing(xxxl);

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: spacing(lg);
        width: 100%;
    }

    .textContainer {
        width: 100%;
        display: flex;
        justify-content: center;

        @include font(headline, md);
    }
}
